html {
    background-color: #e6e9e9;
}
body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 900px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}
table,
td {
    border: 1px solid black;
    text-align: center;
}
th {
    border: 1px solid black;
    line-height: 1.3em;
}
h1 {
    color: blue;
    text-align: center;
    font-weight: 600;
    line-height: 1.3em;
}
h2 {
    color: green;
    text-align: center;
    margin-top: 1.3em;
}
